.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 10px;

    p {
        font-weight: 400;
        font-size: 18px;
    }
}
